<div id="sensor-data">
  <% sensor_data.each do |url, data| %>
    <h3>Dados de <%= url %></h3>
    <table style="width: 100%; border-collapse: collapse; text-align: left; margin-top: 16px;">
      <thead>
        <tr>
          <th style="border-bottom: 1px solid; padding: 8px;">Parâmetro</th>
          <th style="border-bottom: 1px solid; padding: 8px;">Valor</th>
        </tr>
      </thead>
      <tbody>
        <% data.each do |key, value| %>
          <tr>
            <td style="padding: 8px; border-bottom: 1px solid;"><strong><%= key %>:</strong></td>
            <td style="padding: 8px; border-bottom: 1px solid;"><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
