<div class="window-body">
  <p>Hello, world!</p>

  <menu role="tablist">
    <li role="tab" aria-selected="true"><a href="#tabs">Desktop</a></li>
    <li role="tab"><a href="#tabs">My computer</a></li>
    <li role="tab"><a href="#tabs">Control panel</a></li>
    <li role="tab"><a href="#tabs">Devices manager</a></li>
    <li role="tab"><a href="#tabs">Hardware profiles</a></li>
    <li role="tab"><a href="#tabs">Performance</a></li>
  </menu>
  <div class="window" role="tabpanel">
    <div class="window-body">
      <p>the tab content</p>
    </div>
  </div>
</div>

<h3>Dados dos Sensores em Tempo Real</h3>

<turbo-frame id="sensor-data-frame">
  <%= render partial: "sensor_data", locals: { sensor_data: @sensor_data } %>
</turbo-frame>

<script>
  // Atualiza o Turbo Frame a cada 30 segundos
  setInterval(() => {
    Turbo.visit(location.href, { action: "replace", frame: "sensor-data-frame" });
  }, 5000);
</script>
