<h3>Welcome - Docker On Rails</h3>

<div class="window" style="margin: 32px; width: 250px;">
  <div class="title-bar">
    <div class="title-bar-text">
      Navegação
    </div>
  </div>
  <div class="window-body">
    <p>Bem-vindo ao seu painel de navegação!</p>
  </div>
  <!-- Botão para Dashboard -->
  <button onclick="location.href='<%= dashboard_index_path %>'" class="button" style="margin-top: 8px;">
    Dashboard
  </button>

  <!-- Botão para Artigos -->
  <button onclick="location.href='<%= articles_path %>'" class="button" style="margin-top: 8px;">
    Articles
  </button>

  <!-- Botão para a página de dados -->
  <button onclick="location.href='<%= dados_path %>'" class="button" style="margin-top: 8px;">
    Dados
  </button>

  <!-- Botão para a página de saúde do Rails -->
  <button onclick="location.href='<%= rails_health_check_path %>'" class="button" style="margin-top: 8px;">
    Saúde do Servidor
  </button>
</div>

<h3>Stimulus Check</h3>

<div class="window" style="margin: 32px; width: 300px;">
  <div class="title-bar">
    <div class="title-bar-text">
      Stimulus Example
    </div>
  </div>
  <div class="window-body">
    <div data-controller="hello">
      <input data-hello-target="name" type="text" class="text-input" style="width: 100%;">
      
      <button data-action="click->hello#greet" class="button" style="margin-top: 8px;">
        Greet
      </button>

      <div style="margin-top: 16px;">
        <span data-hello-target="output"></span>
      </div>
    </div>
  </div>
</div>

<div class="window" style="margin: 32px; width: 250px;">
  <div class="title-bar">
    <div class="title-bar-text">
      My First VB4 Program
    </div>
  </div>
  <div class="window-body">
    <p>Hello, world!</p>
  </div>
</div>



